@import './base.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 20px 5%;
}

@media (min-width: 800px) {
  main {
    margin: 20px 15%;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 20px 30%;
  }
}
